extends layout

block content    
    h1 Hello from about jade through the about file
    ol this is an order list
        li first
        li secong item
        li third item
        li fourth item
        hr
    